.abc{
	display: flex; 
}
.abcd{
	width:50%;
}
.abcde{
	width:50%; margin-left: 2rem;
}
.abc1{
	display: flex;
	justify-content: space-between;
}
.graphjoker1{
	width: 68%;
}
@media only screen and (max-width: 1024px)
{
	.abc1{
	flex-direction: column;
	grid-column: 5;
}
.graphjoker1{
	width: 100%;

}
}

@media only screen and (max-width: 568px)
{
.abc{
	flex-direction: column;
	grid-column: 5;
}
.abcd{
	width:100%;
}
.abcde{
	width:100%;
	margin-left: 1px;
}


}