div.multiselect, select#meal, button {
  margin: 5px;
}

.multiselect {
  width: 100%;
  
}

.selectBox {
  position: relative;
}
.labelsContOfmulsel label{

}
.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxesFac {
  display: none;
  border: 1px #dadada solid;
}
#checkboxesLang{
  display: none;
  border: 1px #dadada solid; 
}
#checkboxesFac label {
  display: block;
  color: #3d405c;
}

#checkboxesLang label {
  display: block;
  color: #3d405c;
}
#checkboxes label:hover {
  background-color: #1e90ff;
}
