.backround{
	background-color: #fff;
	margin: 1.5rem;
	padding: 2rem;
	border-radius: .2rem;
}

.searchboxclass{
	display: flex;
	width: 23%;
	float: right;
	margin-top: -2.5rem;
}

.searchicon{
	cursor: pointer;
	border: none;
	background-color: #b1b1b1;
}

.addnew{
	margin-left: 2.8rem;
}

.catstyles1{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.catstyles3{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.catstyles33{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.catstyles4{
	width: 100%;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.catstyles44{
	width: 100%;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.catstyles2{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.iconstyle{
	margin-top: .5rem;
	cursor: pointer;
	margin-left: -2rem;
	font-size: 1rem;
}


.subcat{
	margin-left: 6rem; 
	margin-bottom: .5rem;
}

.subcat1{
	margin-left: 6rem; 
	margin-bottom: .5rem;
}

@media screen and (max-width: 800px){
	.searchboxclass{
		flex-direction: row;
		float: none;
		margin-top: 1rem;
		width: 100%
	}

	.formobile{
		overflow: auto;
	}

	.needchanges{
		min-width: 50rem;
	}

	.needchanges1{
		min-width: 40rem;
	}

	.addnew{
		margin-top: 1rem;
	}

	.subcat{
		margin-left: 4rem; 
		margin-bottom: .5rem;
	}

	.subcat1{
		margin-left: 4rem; 
		margin-bottom: .5rem;
	}
}
