@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #e3e3e3;
}
.container{
  max-width: 300px;
  width: 70%;
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
form .user-details .input-box{
  margin-bottom: 5px;
  width: calc(100% / 2 - 20px);
}
textarea{
  height: 45px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-bottom: 5px;
  text-decoration: none;
  display: inline-block;
  outline:none;
  resize: none;
  overflow:hidden;
  


}
form .user-details .input-box2{
  margin-bottom: 5px;
  width: calc(100% / 1 - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

form .input-box2 span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

  form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 
 .user-details{
    grid-column: 10;
    flex-direction: column;
  }
  body{
  height:100%;
  flex-direction: column;
  
  padding: 1px;
  
}
.container{
  max-width: 100%;
  width: 100%;
  height: 100%;
}

  
}
.input-box[data-error].input{
  border-color: red;
  color: red;
  background: white;
}
.input-box[data-error]::after{
  content: attr(data-error);
  font-size: 0.75rem;
  color: #c92432;
  display: block;
  margin: 10px 0;
}

@media only screen and (max-width: 767px){

  .user-details{
    grid-column: 10;
    flex-direction: column;
  }
  .container{
  width: 100%;
  
  padding: 0px 0px;
  
}
}